
.lsp{
    background-color: rgb(255, 255, 255);
    width: 0vw;
    height: 100vh;
    position: fixed;
    z-index: 9;
    top: 70px;
    left: 0px;
    transition: 0.3s;
    opacity: 0;
    display: none; /***************************/
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
    overflow-x: hidden;
    overflow-y: auto;
}
/* .lines-page{
    
} */
.lsp .title{
    width: 90%;
    /* background-color: #00586581; */
    border: #00586581 solid 3px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 20px;
    border-radius: 12px;
}
.lsp .title h2{
    font-size: 25px;
    color: rgb(255, 255, 255);
    background-color: #000000;
    /* color: #ffffff; */
}
.lsp .title-img{
    width: 40px;
    transform: rotate(90deg);
    /* background-color: #ffffff; */
    /* border-radius: 7px; */
    border: rgb(255, 255, 255) solid 5px;
}
.lsp .ti-2{
    transform: rotate(0deg);
}
.lsp .ti-3{
    transform: rotate(0deg);
}
.lsp .back{
    background-color: #ffffff;
    box-shadow: #00655ee2 0px 0px 10px 0px;
    width: 100vw;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 33px;
    gap: 10px;
    font-size: 19px;
    color: #ff0000;
    opacity: 70%;
    padding-bottom: 2px;
}
.lsp .back h2{
    font-size: 23px;
}
.lsp .text{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.lsp .t-2{
    /* text-align: center; */
    font-size: 26px;
    /* min-width: 90%; */
    max-width: 400px;
    color: #000000d0;
    margin-bottom: 30px;
    margin-top: 30px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: row-reverse;
    /* gap: 15px; */
}
.lsp .t-2 span{
    width: 340px;
    display: flex;
    margin-right: 10px;
}
.lsp .map-img{
    /* min-width: 90%; */
    max-width: 370px;
    margin-bottom: 20vh;
    border-radius: 25px;
    box-shadow: #00000086 0px 0px 10px 0px;
    border: #007e92 solid 3px;
}
.lsp .ty{
    width: 90vw;
    height: 49px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: row-reverse;
    gap: 20px;
    padding-right: 30px;
    border-radius: 10px;
}
.lsp .ty h2{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 1px;
    font-size: 22px;
}
.lsp .ty h2 span{
    font-size: 16px;
    background-color: #0000004b;
    padding: 1px 15px 1px 0px;
    width: 235px;
    border-radius: 5px;
    line-height: 16px;
}
.lsp .ty h2 .dash{
    width: max-content;
    border-radius: 0px;
    padding: 0px;
    background-color: #00000000;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px 0px 10px;
    font-size: 13px;
}
.lsp .num{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 35px;
    /* background-color: #000000b0; */
    border: #ffffff solid 2px;
    color: #ffffffcb;
    font-weight: 500;
    border-radius: 7px;
    font-size: 22px;
}
.lsp .ty .sub{
    font-size: 20px;
    background-color: #00000000;
    display: block;
}
.lsp .t-red{
    background-color: #fa1010d6;
}
.lsp .t-blue{
    background-color: #00707bda;
}
.lsp .t-green{
    background-color: #007c34db;
}





























/* 
.tickets-page{
    
}
.subscribe-page{
    
} */