
.lsp{
    background-color: rgba(255, 255, 255, 0.848);
    /* backdrop-filter: blur(5px); */
    /* width: 100vw;
    height: 100vh; */
    width: 0vw;
    height: 100vh;
    position: fixed;
    z-index: 9;
    top: 70px;
    left: 0px;
    transition: 0.3s;
    opacity: 0;
    display: none; /***************************/
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
    overflow-x: hidden;
}
.lines-page{
    
}
.lsp .title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 25px;
}
.lsp .title span{
    display: flex;
    font-weight: 900;
}
.lsp .title-img{
    width: 40px;
    transform: rotate(90deg);
    background-color: #ffffff;
    border-radius: 7px;
    margin-top: 20px;
}
.lsp .ti-2{
    transform: rotate(0deg);
}
.lsp .ti-3{
    transform: rotate(0deg);
}
.lsp .back{
    background-color: #ffffff;
    box-shadow: #00655ee2 0px 0px 10px 0px;
    width: 100vw;
    height: 40px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 33px;
    gap: 10px;
    font-size: 19px;
    color: #ff0000;
    opacity: 70%;
}
.lsp i{
    margin-top: 3px;
}
.lsp .back h2{
    font-size: 23px;
}






























/* 
.tickets-page{
    
}
.subscribe-page{
    
} */