
.result{
    width: 100vw;
    height: 100vh;
    background-color: rgba(124, 192, 204, 0.878);
    position: fixed;
    z-index: 4;
    top: 0px;
    left: 0px;
    display: flex;
    opacity: 0;
    display: none;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 10px;
    transition: 0.5s;
    overflow: hidden;
    padding-top: 12vh;
}
.result .img{
    background-color: #ffffff;
    border: #006581 solid 3px;
    min-width: 60px;
    height: 55px;
    border-radius: 10px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/7/77/Cairo_metro_logo2012.svg);
    background-position: center;
    background-size: 85%;
    background-repeat: no-repeat;
}
.result .title {
    background-color: #ffffff;
    width: 95%;
    height: 50px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.result .box{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
    background-color: #ffffff;
    width: 95%;
    min-height: 400px;
    border-radius: 20px;
    padding-top: 15px;
}
.result .line{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 14px;
    color: #cc0000;
    height: 50px;
}
.result .line i{
    width: 50px;
    /* background-color: #000; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #006caf;
}
.result .ticket{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.result .tick{
    background-color: #009e35d8;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    /* font-size: 15px;
    width: 95%; */
    height: 90px;
    padding: 0px 10px 0px 10px;
    border-radius: 10px;
}
.result .tick .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    font-size: 15px;
    /* width: 95%; */
}
.result .tick span{
    width: 80px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 8px;
    color: #000;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
.result .tick .alert{
    width: 100%;
}
.result .tick .alert h2{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: #ff0000bc;
    padding: 5px 20px 5px 20px;
}
.result .tick .alert h2 span{
    width: max-content;
    height: max-content;
    margin-right: 10px;
    background-color: #000000b2;
    color: #ffee00;
    font-size: 20px;
    padding: 0px 10px 0px 10px;
    border-radius: 0px;
}











































































































































.popup{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0000001c;
    backdrop-filter: blur(3px);
    position: fixed;
    z-index: 4;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    display: none;
    opacity: 0;
    transition: 0.5s;
    overflow: hidden;
}
.lines-r{
    width: 90vw;
    min-height: 400px;
    background-color: #C3DFE4;
    /* position: absolute;
    z-index: 9;
    top: 480px; */
    border-radius: 20px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
    color: #ffffff;
    border: #0099c377 solid 5px;
    /* border-top: #0099c377 solid 5px;
    border-bottom: #0099c377 solid 5px; */
    padding: 10px;
    padding-left: 0px;
    padding-right: 0px;
    /*display: none; /*****************************/
    /* transition: 1s; */
    /* margin-top: 340px; */
}
.lines-r .title{
    background-color: #ffffff;
    width: 95%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.lines-r .title h2{
    color: #000000c2;
    font-weight: 600;
    font-size: 22px;
}
.lines-r .types{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 25px;
    /* display: none; */
}
.lines-r .type{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.lines-r .types .type{
    width: 95%;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
}
.lines-r .type .img{
    background-color: #ffffff;
    border: #006581 solid 3px;
    min-width: 60px;
    height: 55px;
    border-radius: 10px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/7/77/Cairo_metro_logo2012.svg);
    background-position: center;
    background-size: 85%;
    background-repeat: no-repeat;
}
.lines-r .type h2{
    font-size: 20px;
    color: #006581;
    font-weight: bold;
    padding: 7px;
    border-radius: 10px;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}
.lines-r .type h2 span{
    min-width: max-content;
    font-size: 18px;
}
.lines-r span{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #ff0000;
    /* flex-direction: column; */
    gap: 10px;
    /* border-top: #006581 dashed 2px; */
    /* margin-top: 4px; */
}
.lines-r span span{
    border: none;
    /* transform: rotate(-90deg); */
}
.lines-r .arrow{
    font-size: 18px;
    color: #006581;
}
.lines-r .box{
    font-size: 20px;
    color: #006581;
    font-weight: bold;
    background-color: #ffffff;
    padding: 7px;
    border-radius: 10px;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    width: 95%;
    height: 500px;
    /* display: none; */
}
.lines-r .box .type{
    border-bottom: #006581 double 3px;
    padding-bottom: 5px;
}
.lines-r .box-1{
    display: none;
}
.lines-r .box-2{
    display: none;
}
.lines-r .box-3{
    display: none;
}
.lines-r .stations{
    display: flex;
    align-items: start;
    justify-content: start;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-right: 10px;
    width: 100%;
    height: 410px;
    /* background-color: #00000033; */
    border-radius: 0px 0px 5px 5px;
    overflow-x: hidden;
    overflow-y: auto;
}
.lines-r .stations .railway{
    /* background-color: #000000c2; */
    min-width: 50px;
    max-width: 50px;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    /* gap: 5px; */
    padding-top: 10px;
}
.lines-r .stations .railway hr{
    border: none;
    background-color: #000000c2;
    width: 3px;
    height: 25px;
}
.lines-r .stations .railway .span{
    height: 40px;
    /* background-color: #000000c2; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.lines-r .stations .railway span{
    width: 20px;
    height: 20px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #ffffff; */
    border-radius: 80px;
    border: #008f39 solid 2px;
    font-size: 22px;
    margin-bottom: 1px;
}
.lines-r .stations .blaces{
    /* background-color: #000000c2; */
    width: 100%;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 25px;
    padding-top: 10px;
}
.lines-r .stations .blaces h2{
    width: 90%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: row-reverse;
    font-size: 20px;
    border-radius: 8px;
    color: #000;
}
.lines-r .stations .blaces h2 span{
    width: 40px;
    height: 30px;
    margin-left: 15px;
    border-radius: 7px;
    border: #006779 solid 2px;
    color: #000;
}