
.results{
    width: 90vw;
    min-height: 400px;
    background-color: rgba(0, 118, 139, 0.237);
    /* position: absolute;
    z-index: 9;
    top: 480px; */
    border-radius: 20px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
    color: #ffffff;
    border: #ffffff00 solid 5px;
    border-top: #0099ff solid 5px;
    border-bottom: #0099ff solid 5px;
    padding: 10px;
    padding-left: 0px;
    padding-right: 0px;
}
.results .type{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.results .type h2{
    font-size: 18px;
    color: #ff0000;
    font-weight: bold;
    background-color: #ffffff;
    padding: 7px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}
.results span{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-top: #006581 dashed 2px;
    margin-top: 4px;
}
.results span span{
    border: none;
}
.arrow{
    font-size: 18px;
    color: #006581;
}
.results .num{
    width: 50px;
    height: 45px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff0000;
    background-color: #ffffff;
    font-size: 30px;
    margin-right: 40px;
}